<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Mitra. The smart way to manage your money." />

        <!-- Local CSS -->
        <link rel="stylesheet" href='static/css/mitra.min.css' type='text/css'>
        <link href='static/bower/fontawesome/css/font-awesome.min.css' type='text/css'>

        <!-- Google Fonts -->
        <link href='//fonts.googleapis.com/css?family=Roboto:500,400italic,300,400' rel='stylesheet' type='text/css'>

        <!-- Local Libraries -->
        <script src="static/bower/jquery/dist/jquery.min.js"></script>
        <script src="static/bower/react/react-with-addons.js"></script>
        <script src="static/bower/react-router/build/umd/ReactRouter.min.js"></script>

        <title>Mitra</title>
    </head>
    <body>
        <div id="container"></div>
        <script src="static/js/mitra.min.js"></script>
    </body>
</html>
